.our-mission p{
    text-align:left;
    font-size:1.1rem;
}
.our-mission ul{
    list-style: none;
    padding: 0;
    margin:0;
}
.our-mission ul div span{

    text-align:left;
}
.our-mission ul div span:first-child{

    font-size:1.6rem;
    font-weight: 500;
}